<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>News Scraper App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.couldflare.com/ajax/libs/bootswatch/3.3.7/paper/
        bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Coromorant+SC" rel="stylesheet">
        <link rel="stylesheet" href="../../asset/css/style.css">
    </head>

<body>
    {{{body}}}
</body>

</html>